$base-unit: 4px;

$color-accent: #2962ff;
$color-body: #f7f7f7;
$color-card: #ffffff;
$color-line: #d7d7d7;
$color-link: $color-accent;
$color-text-dark: #575757;
$color-text-light: #ffffff;

$grid: map-merge(
  $grid,
  (
    box-sizing: border-box,
    breakpoints: (
      xs: 0,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1200px,
    ),
    columns: 12,
    container: (
      xs: $base-unit * 5 / 2,
      md: $base-unit * 6 / 2,
      lg: $base-unit * 7 / 2,
    ),
    gap: (
      xs: $base-unit * 5 / 2,
      md: $base-unit * 6 / 2,
      lg: $base-unit * 7 / 2,
    ),
    mode: flex,
  )
);

$transition-duration: 200ms;
